/*GLOBAL*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, input, select, textarea{
  font-family: 'Staatliches', 'cursive';
}

body{
  background-color: #BFD7E4;
}

body::before{
  content: '';
  width: 100%;
  height: 465px;
  background: #293241;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.input-wrapper, p{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

h1, p{
  font-style: normal;
}

/*HEADER*/

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.head-sect{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin: 107px auto 0;
  gap: 10px;
}

h1{
  font-size: 36px;
  line-height: 45px;
  font-weight: 400;
}

p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

#my-img{
  width: 225px;
  height: 100px;
}

.top-box{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 34px;
  width: 750px;
  height: 133px;
  background: #F67669;
  border-radius: 20px 20px 0 0;
  margin-top: 25px;
  }

  /*FORM*/
  form{
    width: 750px;
    min-height: 1075px;
    border-radius: 0 0 20px 20px;
    background-color: #ffffff;
    margin: 0 auto 392px;
  }

  .form-wrapper{
    padding: 32px 64px 0;
    display: flex;
    flex-direction: column;
  }

  fieldset{
    border: none;
  }

  .fieldset-wrapper{
    margin-bottom: 32px;
  }

  .fieldset-wrapper legend{
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    color: #253B51;
    border-bottom: 1px solid #E6E6F0;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }

  .name-columns{
    display: flex;
    gap: 20px;
  }

  .name-columns .input-wrapper{
    width: 100%;
  }

  .input-wrapper{
    display: flex;
    flex-direction: column;
  }

  .input-wrapper input, .input-wrapper select, textarea{
    height: 55px;
    border: 1px solid #E6E6F0;
    border-radius:8px;
    background-color: #FAFAFC;
    padding-left: 24px;
    margin: 8px 0 30px;
  }

  .input-wrapper select{
    appearance: none;
    -webkit-appearance: none;
    background-image: url(images/vector.svg);
    background-repeat: no-repeat;
    background-position: right 16px top 50%;
  }

  textarea{
    resize: none;
    height: 168px;
    padding: 10px;
  }

  /*Checkbox button*/
  .checkbox-wrapper{
    position: relative;
  }

  .checkbox-wrapper label{
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .checkbox-wrapper input{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .checkbox-wrapper label::before{
    content: '';
    width: 24px;
    height: 24px;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    background-color: #FAFAFC;
  }

  .checkbox-wrapper input:checked + label::before{
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }

  .data-columns{
    display: flex;
    gap: 20px;
  }

  .data-columns > :nth-child(1){
    flex-grow: 1;
  }

  /*FOOTER*/
  footer{
    display: flex;
    justify-content: center;
  }

  .form-button{
    width: 622px;
    height: 51px;
    padding: 15px 40px;
    background: #F67669;
    border-radius: 8px;
    border: none;
    color: white;
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px
  }